.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 15px;
}
.light-blue{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.light-grey{
    display: flex;
    flex-direction: row;
    background-color:grey;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.light-pink{
    display: flex;
    flex-direction: row;
    background-color: lightpink;
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.light-green{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.head{
    text-align: center;
}
.bar-chart{
    background-color: white;
    box-shadow: inset;
    padding: 10px;
    margin: 10px;
    font-family: "Roboto";
    font-weight: 500;
}
.instuition-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 18px;
    margin: 10px;
    font-family: "Roboto";
    font-weight: 600;
    
}
.icon-large {
    font-size: 5rem;
    color: #007bff;
}
